/*
.top{

	width: 500px;
	margin: auto;
	text-align: right;
	background-color: black;

}
.top span{

	color: white;

}
.top small{

	margin-right: 30px;
	text-decoration: underline;

}

.login-area{

	width: 500px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;

}

.login-area h3{

	text-align: center;
	margin-bottom: 50px;

}

.login-area .login-button{

	text-align: center;
	margin-top: 50px;

}

.bottom{

	width: 500px;
	margin: auto;
	padding-top: 50px;
	border-top: 5px solid black;


}
*/